# Sistema / OS
.DS_Store
Thumbs.db
desktop.ini

# Node.js / pnpm
node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDEs / editores
.vscode/
.idea/
*.suo
*.user
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Prisma
.prisma/
/backend/src/generated/prisma-client

# Database
*.sqlite
*.db
/backend/data/

# Admin build
/admin/dist